<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Process.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>image_add.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>image_track.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>trackFilteredObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3694115C9CC54AB2A5FE880B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CEC2A5267C34A518A5159D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87E82F4635B24F7EA0275A4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90AF375517CD40B7AC16F30C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AECBA491792449EFBC891176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF509369DA844BCC897045F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39EB40BB0BB4B219DD26AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF53A60402014A1BB2D56922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEB197851A524880AC53F4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
