<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Control.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Process.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>image_add.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>image_track.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>trackFilteredObject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1717815D6FBB4CF39CA304DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49DBA76A54914B0BA75257EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B272F6DAC784339BC9AA11C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1EB75C6F134D3D825DB90A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C9F65B8FE5B439D8F96BFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E842086F4624E328016AA24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6F99FCE77514B39961C32F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E12490C945BB4A14965677A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F22E60D171E2453783BFA1E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
